@import "./../variable";

.startHeader {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top, $primary-color, #fff);
  display: flex;
  position: relative;

  > i {
    font-size: 2rem;
    color: #999;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    animation: jumpingBtn 2s linear infinite;
  }
}

.leftSide {
  height: 100%;
  width: 40%;
  background: url("/patternpad.svg");
  clip-path: polygon(0 0, 100% 0, 41% 100%, 0% 100%);
}

.rightSide {
  width: 60%;
  height: 100%;
  position: relative;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -600px;
    height: 600px;
    // animation: rotateFood 220s infinite;
    filter: drop-shadow(0 0 10px #555);
  }

  h1 {
    position: absolute;
    left: 30%;
    top: 25%;
    user-select: none;
    font: 700 7em $title-font;
  }
}

.enterBtn {
  all: unset;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 1.4em;
  position: absolute;
  bottom: 100px;
  right: 100px;
  background-color: $secondary-color;
  border-radius: 5px;
  transition: color 200ms;

  &:hover {
    color: #fff;
  }

  &:after {
    content: "\f08e";
    font: var(--fa-font-solid);
    font-size: 1rem;
    margin-left: 10px;
    vertical-align: 1px;
  }
}

@keyframes rotateFood {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes jumpingBtn {
  0% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(-10px);
  }
}
