@import "./../variable";

.navbar {
  width: 100%;
  margin-top: 50px;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-size: 1.2rem;
    padding-inline: 10%;
    font-weight: 600;
    color: $text-color;

    li {
      cursor: pointer;
      transition: color 150ms;

      &:last-child {
        margin-left: auto;
        padding: 3px 8px;
        border-radius: 8px;
        background-color: $secondary-color;

        &:hover {
          color: #fff;
        }
      }

      &:hover {
        color: $secondary-color;
      }
    }
  }
}
