@import "../variable";

@mixin input($width) {
  height: 40px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding-left: 7px;
  font-size: 16px;
  width: $width;

  &::placeholder {
    padding-left: 8px;
  }

  &:focus {
    border: 2px solid $secondary-color;
  }

  &:hover {
    border-color: $secondary-color;
  }
}

@mixin ingredientBtns($color) {
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 6px;
  background-color: $color;
  cursor: pointer;

  &:hover {
    color: white;
  }
}

* {
  outline: none;
  //color: $text-color;
  letter-spacing: 1px;
}

body {
  background-color: $primary-color;
  position: relative;
}

.recipeForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  margin-top: 30px;
}

.titleInput {
  @include input(540px);
}

.ingredientInput {
  @include input(290px);
}

.countInput {
  @include input(45px);
}

.unitSelect {
  @include input(175px);

  background-color: white;
}

.descArea {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 540px;
  height: 125px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 8px;
  resize: none;
  overflow: hidden;
  background-color: white;

  &::placeholder {
    padding: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }

  &:focus {
    border: 2px solid $secondary-color;
  }
}

.timeInput {
  @include input(220px);
}

.categorySection {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 700px;
}

.categoryLabel {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
  }
}

.categoryCheckbox {
  display: none;
}

.categoryCheckbox:checked + .categoryLabel {
  background-color: $secondary-color;
}

.addInstanceBtn {
  @include ingredientBtns($secondary-color);
}

.confirmIngredientBtn {
  @include ingredientBtns($secondary-color);
}

.saveBtn {
  border: none;
  background-color: $secondary-color;
  font-size: 20px;
  border-radius: 5px;
  padding: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;

  &:hover {
    color: white;
  }
}

.goBackBtn {
  position: relative;
  top: 50px;
  left: 500px;
  font-size: 30px;
  padding: 4px;
  cursor: pointer;

  &:hover {
    color: $secondary-color;
  }
}

.ingredientInstance {
  display: flex;
  align-items: center;
  gap: 15px;
}

.closeInstanceBtn {
  @include ingredientBtns($accent-color);
}

.fileInput {
  display: none;
}

.fileInputBtn {
  font-size: 22px;
  cursor: pointer;

  &:hover {
    color: $secondary-color;
  }
}

.fileInputSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.fileInputImg {
  height: 150px;
  width: 150px;
  border: 2px solid $secondary-color;
  border-radius: 5px;
}

.fileInputImgDelete {
  font-size: 22px;
  cursor: pointer;

  &:hover {
    color: $accent-color;
  }
}

.fileInputMaximum {
  font-weight: 700;
  color: $accent-color;
}

h2,
h3 {
  margin-top: 20px;
}

.undoIngredientBtn {
  @include ingredientBtns($accent-color);
}

.backToProfile i {
  font-size: 28px;
  color: $text-color;

  &:hover {
    color: $secondary-color;
  }
}

.backToProfile {
  position: absolute;
  top: 30px;
  left: 250px;
}

.toolTipContainer {
  position: relative;
}

.toolTip {
  position: absolute;
  top: 15px;
  right: -50px;
  border-radius: 5px;
  padding: 8px 12px;
  background-color: $secondary-color;
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.toolTipList {
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 12px;
  border-radius: 8px;
  background-color: white;
  color: $text-color;
  margin-top: 12px;

  li {
    display: flex;
    gap: 10px;
    margin: 8px;
    align-items: center;
    font-weight: 500;
  }
}
