@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  outline: none;
  color: #222;
  letter-spacing: 1px;
}

body {
  background-color: #f4f2ee;
}

.recipeForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.titleInput {
  height: 40px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding-left: 7px;
  font-size: 16px;
  width: 540px;
}
.titleInput::-moz-placeholder {
  padding-left: 8px;
}
.titleInput::placeholder {
  padding-left: 8px;
}
.titleInput:focus {
  border: 2px solid #febd2f;
}

.ingredientInput {
  height: 40px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding-left: 7px;
  font-size: 16px;
  width: 290px;
}
.ingredientInput::-moz-placeholder {
  padding-left: 8px;
}
.ingredientInput::placeholder {
  padding-left: 8px;
}
.ingredientInput:focus {
  border: 2px solid #febd2f;
}

.countInput {
  height: 40px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding-left: 7px;
  font-size: 16px;
  width: 45px;
}
.countInput::-moz-placeholder {
  padding-left: 8px;
}
.countInput::placeholder {
  padding-left: 8px;
}
.countInput:focus {
  border: 2px solid #febd2f;
}

.unitSelect {
  height: 40px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding-left: 7px;
  font-size: 16px;
  width: 175px;
  background-color: white;
}
.unitSelect::-moz-placeholder {
  padding-left: 8px;
}
.unitSelect::placeholder {
  padding-left: 8px;
}
.unitSelect:focus {
  border: 2px solid #febd2f;
}

.descArea {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 540px;
  height: 125px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 8px;
  resize: none;
  overflow: hidden;
}
.descArea::-moz-placeholder {
  padding: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.descArea::placeholder {
  padding: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.descArea:focus {
  border: 2px solid #febd2f;
}

.timeInput {
  height: 40px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding-left: 7px;
  font-size: 16px;
  width: 220px;
}
.timeInput::-moz-placeholder {
  padding-left: 8px;
}
.timeInput::placeholder {
  padding-left: 8px;
}
.timeInput:focus {
  border: 2px solid #febd2f;
}

.categorySection {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 700px;
}

.categoryLabel {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  cursor: pointer;
}
.categoryLabel:hover {
  background-color: #febd2f;
}

.categoryCheckbox {
  display: none;
}

.categoryCheckbox:checked + .categoryLabel {
  background-color: #febd2f;
}

.addInstanceBtn {
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 6px;
  background-color: #febd2f;
  cursor: pointer;
}
.addInstanceBtn:hover {
  color: white;
}

.confirmIngredientBtn {
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 6px;
  background-color: #febd2f;
  cursor: pointer;
}
.confirmIngredientBtn:hover {
  color: white;
}

.saveBtn {
  border: none;
  background-color: #febd2f;
  font-size: 20px;
  border-radius: 5px;
  padding: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}
.saveBtn:hover {
  color: white;
}

.goBackBtn {
  position: relative;
  top: 50px;
  left: 500px;
  font-size: 30px;
  padding: 4px;
  cursor: pointer;
}
.goBackBtn:hover {
  color: #febd2f;
}

.ingredientInstance {
  display: flex;
  align-items: center;
  gap: 15px;
}

.closeInstanceBtn {
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 6px;
  background-color: #fd7458;
  cursor: pointer;
}
.closeInstanceBtn:hover {
  color: white;
}

.fileInput {
  display: none;
}

.fileInputBtn {
  font-size: 22px;
  cursor: pointer;
}
.fileInputBtn:hover {
  color: #febd2f;
}

.fileInputSection {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.fileInputImg {
  height: 150px;
  width: 150px;
  border: 2px solid #febd2f;
  border-radius: 5px;
}

.fileInputImgDelete {
  display: inline;
  font-size: 22px;
  cursor: pointer;
}
.fileInputImgDelete:hover {
  color: #febd2f;
}

.fileInputMaximum {
  font-weight: 700;
  color: #fd7458;
}

h2,
h3 {
  margin-top: 20px;
}

.undoIngredientBtn {
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 6px;
  background-color: #fd7458;
  cursor: pointer;
}
.undoIngredientBtn:hover {
  color: white;
}/*# sourceMappingURL=recipeForm.module.css.map */