@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

$primary-color: #f4f2ee;
$secondary-color: #febd2f;
$accent-color: #fd7458;
$text-color: #222;

$title-font: "Titillium Web", sans-serif;
