@import "./variable";

.contactPage {
  width: 100%;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(10px);

  h1 {
    text-align: center;
    margin: 1rem 0;
    color: $text-color;
  }
}

.contactContainer {
  width: 90%;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 10px;
  background-color: #e0d3d322;
  .contactTitle {
    text-align: center;
  }
  p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

.contactContent {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;

  .contactInfo {
    flex: 1;

    .contactInfoItem {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      font-size: 1.2rem;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        margin-right: 8px;
        background-color: #e1e1e165;
        color: $text-color;
        border-radius: 50%;

        svg {
          width: 70%;
          height: 70%;
        }
      }
    }
  }
}

.contactForm {
  flex: 2;
  .contactInput {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  .contactTextarea {
    resize: vertical;
  }
}

.contactButton {
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 10px;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;

  span:first-child {
    position: relative;
    font-weight: 600;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }

  span:last-child {
    color: $text-color;
    font-weight: 600;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 70%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $secondary-color;
    color: $text-color;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(10deg) scaleY(0);
    z-index: 50;
  }

  &:hover:after {
    transform-origin: bottom center;
    transform: skewY(0deg) scaleY(2);
  }

  &:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  }
}
@media screen and (max-width: 768px) {
  .contact__content {
    flex-direction: column;
  }
}
