@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  background-color: #f4f2ee;
  width: 50%;
  margin: 10px auto;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.recipeListContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: transparent;
  width: 100%;
}

.searchBox {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #febd2f;
  border-radius: 5px;
  width: 100%;
}
.searchBox .searchInput {
  flex: 1;
  padding: 10px 35px 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f4f2ee;
  transition: 0.3s;
  width: 100%;
  box-sizing: border-box;
  color: #222;
  cursor: text;
  outline: none;
}
.searchBox .searchInput::-moz-placeholder {
  color: #888;
}
.searchBox .searchInput::placeholder {
  color: #888;
}
.searchBox .searchInput:focus {
  background-color: #fff;
}
.searchBox .searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fd7458;
  cursor: pointer;
  font-size: 16px;
}
.searchBox .searchIcon:hover {
  color: #222;
}
.searchBox .clearIcon {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  color: #fd7458;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s ease;
}
.searchBox .clearIcon:hover {
  color: #222;
}

.recipes {
  list-style: none;
  background-color: #f4f2ee;
  border: 1px solid #febd2f;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}
.recipes .recipeItem {
  padding: 10px 20px;
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  color: #222;
  border-bottom: 1px solid #febd2f;
  cursor: pointer;
  transition: background-color 0.3s;
}
.recipes .recipeItem .titleInput {
  font-size: 1em;
}
.recipes .recipeItem:last-child {
  border-bottom: none;
}
.recipes .recipeItem:hover {
  background-color: #fef3e0;
}

.modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal .modalContent {
  background-color: #f4f2ee;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 50%;
}
.modal .modalContent .iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}
.modal .modalContent .iconContainer .recipeIcon {
  font-size: 24px;
  color: #fd7458;
  margin-right: 10px;
}
.modal .modalContent .iconContainer h2 {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}
.modal .imagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.modal .imagesContainer .recipeImage {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.modal .recipeType {
  color: #222;
  margin: 10px 0;
  font-weight: 500;
  text-align: center;
}
.modal .recipeIngredientsTitle {
  margin: 20px 0;
}
.modal .recipeIngredients {
  list-style: none;
  padding: 0;
}
.modal .recipeIngredients .recipeIngredientItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.modal .recipeIngredients .recipeIngredientItem .recipeIngredientName {
  font-weight: bold;
  margin-right: 5px;
}
.modal .recipeIngredients .recipeIngredientItem .recipeIngredientDetails {
  flex: 1;
  border-top: 1px solid #222;
}
.modal .recipeIngredients .recipeIngredientItem .recipeIngredientAmount {
  margin: 0 5px;
  font-weight: 500;
}
.modal .recipeIngredients .recipeIngredientItem .recipeIngredientUnit {
  color: #fd7458;
}
.modal .iconContainerTime {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.modal .iconContainerTime .recipeIcon {
  font-size: 18px;
  margin-right: 5px;
}
.modal .iconContainerTime .cookingTime {
  color: #fd7458;
  margin: 10px 0;
}
.modal .closeButton {
  width: 100%;
  border: none;
  padding: 10px 20px;
  margin-block: 15px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  background-color: #222;
  color: #febd2f;
  transition: all 200ms;
}
.modal .closeButton:hover {
  filter: brightness(1.5);
}

.centerBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.randomBtn {
  background-color: #222;
  color: #febd2f;
  border: none;
  padding: 10px 20px;
  border-radius: 55px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}
.randomBtn:hover {
  filter: brightness(1.5);
}
.randomBtn i {
  font-size: 20px;
  margin: 0 10px;
}

/* .filterOptions {
  margin-bottom: 20px;

  label {
    font-weight: bold;
    margin-right: 10px;
    color: $text-color;
    font-family: $title-font;
  }

  .filterList {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 10px;
      cursor: pointer;
      color: $text-color;
      font-family: $title-font;
      transition: color 0.3s ease-in-out;
      font-size: 17px;

      &:hover {
        color: $accent-color;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
//! sortOptions
.sortOptions {
  margin-bottom: 20px;

  label {
    font-weight: bold;
    margin-right: 10px;
    color: $text-color;
    font-family: $title-font;
  }

  .sortList {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 10px;
      cursor: pointer;
      color: $text-color;
      font-family: $title-font;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $accent-color;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
 */
.filterOptionsContainer {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.filterOptionsContainer .labelFilterTitle {
  font-size: 20px;
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 10px;
  color: #222;
}

.filterList {
  list-style-type: none;
  padding: 0;
}

.filterList li {
  margin: 10px 0;
  display: inline-block;
  margin-right: 10px;
}

.filterInput {
  display: none;
}

.filterLabel {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  background-color: #222;
  color: #febd2f;
  font-family: "Titillium Web", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 10px;
}

.filterLabel:hover {
  filter: brightness(1.5);
}

.filterInput:checked + .filterLabel {
  background-color: #fd7458;
  color: #f4f2ee;
}

/* Stile für sortOptionsContainer */
.sortOptionsContainer {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.sortOptionsContainer .labelSortTile {
  font-size: 20px;
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 10px;
  color: #222;
}

.sortList {
  list-style-type: none;
  padding: 0;
}

.sortList li {
  margin: 10px 0;
  display: inline-block;
  margin-right: 10px;
}

.sortInput {
  display: none;
}

.sortLabel {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  background-color: #222;
  color: #febd2f;
  font-family: "Titillium Web", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 10px;
}

.sortLabel:hover {
  filter: brightness(1.5);
}

.sortInput:checked + .sortLabel {
  background-color: #fd7458;
  color: #f4f2ee;
}/*# sourceMappingURL=main.module.css.map */