@import "../variable";
.logoutButton {
  background-color: $secondary-color;
  width: 100%;
  color: $text-color;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: all 200ms;
  &:hover {
    color: white;
  }
}
