@import "../variable";
.pass_container {
  background: center/cover no-repeat url("../../assets/bild.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.card_form {
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 500px;
  text-align: center;

  .card_title {
    font-size: 1.5em;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  .card_paragraph {
    margin-bottom: 25px;
    font-size: 0.8em;
    color: #888;
  }
  .emailParagraph {
    margin: 50px;
    font-size: 1em;
    color: #888;
  }
}

.input {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $text-color;
  padding: 7px 0;
  margin-bottom: 1.5rem;
  label {
    font-size: 1.2em;
    margin-right: 15px;
  }

  input {
    border-radius: 4px;
    flex: 1;
    border: none;
    outline: none;
    font-size: 1em;
    background-color: transparent;
    font-size: 1.2em;
    font-weight: 500;
    margin-left: 15px;
  }
  input:focus {
    background-color: transparent;
  }
  i {
    cursor: pointer;
    margin: 0 10px;
  }
}

.btn {
  width: 100%;
  border: none;
  padding: 10px 20px;
  margin-block: 15px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  background-color: $primary-color;
  color: $text-color;

  &:hover {
    background-color: $secondary-color;
    color: $text-color;
  }
  .text {
    font-weight: 600;
  }
}

@media screen and (max-width: 991px) {
  .button-75 {
    height: 50px;
  }
  .button-75 span {
    line-height: 50px;
  }
}
