
@import "../variable";

.signin_container {
  background: center/cover no-repeat url("../../assets/bild.jpg") ;
  display:grid;
  place-content: center;
  height: 100vh;
  width: 100vw;

}

.card_form {
 // background-color:$primary-color;
  backdrop-filter:blur(10px);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  min-width: 300px;
  text-align: center;

  .card_title {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  .card_paragraph {
    font-size: 1em;
    margin-bottom: 30px;
  }
  
}

.input {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $text-color;
  padding: 7px 0;
  margin-bottom: 22px;

  label {
    font-size: 1.2em;
    margin-right: 10px;
  }

  input {
    border-radius: 4px;
    flex: 1;
    border: none;
    outline: none;
    font-size: 1em;
    background-color: transparent;
    font-size: 1.2em;
    font-weight: 500;
    margin-left: 15px;
  }

  input:focus {
    background-color: transparent;
  }

  i {
    cursor: pointer;
    margin-inline:10px;
  }
}

.forgotPassword {
  text-align: end;

  a {
    text-decoration: none;
    color: $primary-color;
  }

  a:hover {
    color: $text-color;
  }
}

.signup_link {
  text-align: end;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-left: 20px;

  a {
    text-decoration: none;
    color: #007BFF;
  }

  a:hover {
    color: $text-color;
  }
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-block: 10px ;

  span {
    flex-grow: 1;
    border-bottom: 1px solid #000;
    margin-inline: 10px;
  }
}

.btn {
  width: 100%;
  border: none;
  padding: 10px 20px;
  margin-block: 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  background-color: $primary-color;
  color: $text-color;

  &:hover {
    background-color: $text-color;
    color: $primary-color;
  }

  .text {
    font-weight: 600;
  }
}

@media screen and (max-width: 991px) {
  .btn {

    height: 50px;
  }

  .btn text {
    line-height: 50px;
  }
}
