@import "../variable";
.wrapper {
  width: 100%;
  height: max-content;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectImg {
  //border: 1px solid;
  width: 100%;
}
.imgRecipe {
  min-width: 300px;
  height: 250px;
  border-radius: 20px;
  background-color: $secondary-color;
  width: 100%;
  //filter: drop-shadow(0 0 10px #555);
  margin: 20px 0;
}

.sectZutaten {
  margin: 20px 0;
  border-top: 1px solid rgba(81, 72, 72, 0.303);
  border-bottom: 1px solid rgba(81, 72, 72, 0.303);
  padding: 30px 0;
  width: 100%;
  h3 {
    padding-bottom: 20px;
  }

  .listItem {
    //border: 1px solid;
    display: flex;
    width: 100%;
    border-radius: 8px;
    justify-content: space-between;
    p {
      //width: 100%;
      text-align: right;
      padding: 10px;
      //border: 1px solid;
    }
    .paraphName {
      text-align: left;
      max-width: max-content;
    }
  }
}

.zubereitung {
  border: 1px solid rgba(81, 72, 72, 0.152);
  padding: 15px 0 0 10px;
  p {
    max-width: 500px;
    padding: 20px 10px;
  }
}

.sectComment {
  border-top: 1px solid rgba(81, 72, 72, 0.303);
  border-bottom: 1px solid rgba(81, 72, 72, 0.303);
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: 50px 0 20px;

  .btn {
    width: max-content;
    background-color: #febd2f;
    color: white;
    padding: 14px 15px;
    border-radius: 25px;
    margin: 20px auto 0;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #febc2f98;
  }
}
.similarRecipes {
  // border-top: 1px solid rgba(81, 72, 72, 0.303);
  border-bottom: 1px solid rgba(81, 72, 72, 0.303);
  width: 100%;
  max-width: 500px;
  padding-bottom: 50px;
  margin-top: 30px;
  h3 {
    padding-bottom: 60px;
  }

  .cardContainer {
    display: flex;
    flex-flow: wrap;
    column-gap: 20px;
    row-gap: 50px;
    justify-content: center;
  }
}
//#212018

@media only screen and (min-width: 768px) {
  .imgRecipe {
    height: 350px;
  }

  .cardContainer {
    justify-content: unset !important;
  }
  .listItem {
    p {
      padding: 10px 20px !important;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
    max-width: 1258px;
    column-gap: 40px;
    align-items: start;
    margin-bottom: 50px;
  }

  .sectZutaten {
    height: 400px;
    overflow: auto;
  }
  .zubereitung {
    p {
      max-width: 800px;
      padding: 20px;
    }
  }

  .sectComment {
    max-width: 800px;
  }
  .similarRecipes {
    max-width: 800px;
  }
}

.mainRewiews {
  display: flex;
  align-items: center;
  p {
    padding-left: 10px;
  }
  cursor: pointer;
  
}

.mainRewiews:hover {
  text-decoration: underline;
}

.bewertungen {
  border-bottom: 1px solid;
  border-bottom: 1px solid rgba(81, 72, 72, 0.303);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 10px 20px;
  .input {
    
    margin-top: 30px;
    align-self: self-end;
    input {
      padding: 15px 20px;
      border: 0;
      color: white;
      cursor: pointer;
      font-size: 1rem;
    }

    .bewerten {
      border-radius: 25px;
      background-color: $secondary-color;
      border-color: $secondary-color;
    }
    .abbrechen {
      color: $secondary-color;
      background-color: $primary-color;
    }

    .bewertenOff {
      border-radius: 25px;
      cursor: not-allowed;
      background-color: #a7a7a1;
      border-color: #a7a7a1;
    }
    .abbrechen:hover {
      color: #febc2f98;
      text-decoration: underline;
    }
  }
}
